/*
 * 控制remindBuyFG的css, 詳細架構可以到控制remindBuyFG的css.js裡面看
 */

/*最外層的div(js產生), 跟information名字一樣, 所以會有先後順序的問題*/
.popup-window {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*裡面塞html檔的內容(js產生)*/
.setting {
    position: fixed;
    background-color: #02030ee6;
    display: table;
    border-radius: 20px;
    max-height: 600px;
    border: ridge;
    border-color: gray;
}

/*html檔的內容*/
.setting-content {
    overflow: auto;
    /*上下跟左右*/
    margin: 36px 44px;
    color: #FFFFFF;
}

.setting-content .close-btn {
    position: absolute;
    width: 63px;
    height: 63px;
    right: -30px;
    top: -30px;
    scale: 1.5;
    background-image: url("./btn_exit.png");
    cursor: pointer;
}

/*關閉按鈕(js產生)*/
.setting-button {
    text-align: center;
    position: fixed;
    bottom: 36px;
    left: 50%;
    cursor: pointer;
}

.start-button {
    border-style: groove;
    border-radius: 15px;
    border-color: #000000;
    width: 460px;
    height: 80px;
    color: #000000;
    background-color: #32c60f;
    display: grid;
    align-items: center;
    font-size: x-large;
    font-weight: bold;
}

/*setting頁標題*/
.setting-title {
    text-align: center;
    font-size: 40px;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}

/*setting頁內文*/
.setting-message {
    text-align: center;
    font-size: 30px;
    color: white;
    margin-top: 20px;
    margin-bottom: 60px;
}

/*開關的背景*/
.box-background {
    border-radius: 30px;
    background: #808080;
    transition: all 0.15s ease 0s;
}

/*開關的球*/
.box-circle {
    border-radius: 30px;
    background: #FFFFFF;
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
    transition: all 0.2s ease 0s;
}

