/* -----------------------------------------------------
   created with https://www.codeandweb.com/texturepacker 
   -----------------------------------------------------
   $TexturePacker:SmartUpdate:8d7f5c1a276c0c7a270497cb4d8c73cc:c278c7bcd572e2dfdd0601292e6a0116:02a82cd28d0357d6d18c022bd1b94e47$
   -----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(spritesheet_html.png);}

.arrow {width:180px; height:180px; background-position: -1867px -1px}
.but_betOK {width:354px; height:100px; background-position: -903px -133px}
.but_bet_increase_1 {width:100px; height:100px; background-position: -1749px -449px}
.but_bet_reduce_1 {width:100px; height:100px; background-position: -1744px -551px}
.but_close {width:100px; height:100px; background-position: -1744px -653px}
.but_startAuto {width:600px; height:130px; background-position: -903px -1px}
.handgesture {width:180px; height:180px; background-position: -1867px -183px}
.ic_lastpage {width:180px; height:180px; background-position: -1259px -133px}
.ic_nextpage {width:180px; height:180px; background-position: -1259px -315px}
.line_0 {width:152px; height:122px; background-position: -1441px -405px}
.line_1 {width:152px; height:122px; background-position: -1595px -405px}
.line_10 {width:152px; height:122px; background-position: -1205px -497px}
.line_11 {width:152px; height:122px; background-position: -1436px -529px}
.line_12 {width:152px; height:122px; background-position: -1205px -621px}
.line_13 {width:152px; height:122px; background-position: -1590px -529px}
.line_14 {width:152px; height:122px; background-position: -1846px -577px}
.line_15 {width:152px; height:122px; background-position: -1436px -653px}
.line_16 {width:152px; height:122px; background-position: -1590px -653px}
.line_17 {width:152px; height:122px; background-position: -1846px -701px}
.line_18 {width:152px; height:122px; background-position: -1830px -825px}
.line_19 {width:152px; height:122px; background-position: -1436px -777px}
.line_2 {width:152px; height:122px; background-position: -1590px -777px}
.line_20 {width:152px; height:122px; background-position: -1px -643px}
.line_21 {width:152px; height:122px; background-position: -155px -643px}
.line_22 {width:152px; height:122px; background-position: -309px -643px}
.line_23 {width:152px; height:122px; background-position: -463px -643px}
.line_24 {width:152px; height:122px; background-position: -617px -643px}
.line_25 {width:152px; height:122px; background-position: -841px -741px}
.line_26 {width:152px; height:122px; background-position: -995px -741px}
.line_27 {width:152px; height:122px; background-position: -1149px -745px}
.line_28 {width:152px; height:122px; background-position: -1px -767px}
.line_29 {width:152px; height:122px; background-position: -155px -767px}
.line_3 {width:152px; height:122px; background-position: -309px -767px}
.line_30 {width:152px; height:122px; background-position: -463px -767px}
.line_31 {width:152px; height:122px; background-position: -617px -767px}
.line_32 {width:152px; height:122px; background-position: -771px -865px}
.line_33 {width:152px; height:122px; background-position: -925px -865px}
.line_34 {width:152px; height:122px; background-position: -1079px -869px}
.line_35 {width:152px; height:122px; background-position: -1233px -869px}
.line_36 {width:152px; height:122px; background-position: -1387px -901px}
.line_37 {width:152px; height:122px; background-position: -1541px -901px}
.line_38 {width:152px; height:122px; background-position: -1695px -949px}
.line_39 {width:152px; height:122px; background-position: -1849px -949px}
.line_4 {width:152px; height:122px; background-position: -1px -891px}
.line_40 {width:152px; height:122px; background-position: -155px -891px}
.line_41 {width:152px; height:122px; background-position: -309px -891px}
.line_42 {width:152px; height:122px; background-position: -463px -891px}
.line_43 {width:152px; height:122px; background-position: -617px -891px}
.line_44 {width:152px; height:122px; background-position: -771px -989px}
.line_45 {width:152px; height:122px; background-position: -925px -989px}
.line_46 {width:152px; height:122px; background-position: -1079px -993px}
.line_47 {width:152px; height:122px; background-position: -1233px -993px}
.line_48 {width:152px; height:122px; background-position: -1387px -1025px}
.line_49 {width:152px; height:122px; background-position: -1541px -1025px}
.line_5 {width:152px; height:122px; background-position: -1695px -1073px}
.line_6 {width:152px; height:122px; background-position: -1849px -1073px}
.line_7 {width:152px; height:122px; background-position: -1px -1015px}
.line_8 {width:152px; height:122px; background-position: -155px -1015px}
.line_9 {width:152px; height:122px; background-position: -309px -1015px}
.message_window_background {width:900px; height:640px; background-position: -1px -1px}
.message_window_button {width:354px; height:100px; background-position: -903px -235px}
.message_window_button_active {width:354px; height:100px; background-position: -1441px -303px}
.message_window_button_hover {width:354px; height:100px; background-position: -903px -337px}
.rotate-smartphone {width:300px; height:300px; background-position: -903px -439px}
.sticky_wild {width:360px; height:300px; background-position: -1505px -1px}
.symbol_0 {width:150px; height:150px; background-position: -463px -1015px}
.symbol_0_s {width:75px; height:75px; background-position: -1359px -497px}
.symbol_1 {width:150px; height:150px; background-position: -615px -1015px}
.symbol_1_s {width:75px; height:75px; background-position: -1359px -574px}
.symbol_2 {width:150px; height:150px; background-position: -767px -1113px}
.symbol_2_s {width:75px; height:75px; background-position: -1359px -651px}
.symbol_3 {width:150px; height:150px; background-position: -919px -1113px}
.symbol_3_s {width:75px; height:75px; background-position: -1359px -728px}
.symbol_4 {width:136px; height:142px; background-position: -1071px -1117px}
.symbol_4_s {width:68px; height:71px; background-position: -1797px -303px}
.symbol_5 {width:136px; height:142px; background-position: -1209px -1117px}
.symbol_5_s {width:68px; height:71px; background-position: -1797px -376px}
.symbol_6 {width:136px; height:142px; background-position: -1347px -1149px}
.symbol_6_s {width:68px; height:71px; background-position: -1744px -862px}
.symbol_7 {width:136px; height:142px; background-position: -1485px -1149px}
.symbol_7_s {width:68px; height:71px; background-position: -771px -643px}
.symbol_8 {width:136px; height:142px; background-position: -1071px -1261px}
.symbol_8_s {width:68px; height:71px; background-position: -771px -716px}
.symbol_9 {width:168px; height:210px; background-position: -1867px -365px}
.symbol_9_s {width:84px; height:105px; background-position: -1744px -755px}
