#messageWindow {

    transform-origin: left top;
    -webkit-transform-origin: left top;
    position: fixed;
    display: table;
}

.messageWindow .content {
    text-align: center;
    color: #fff;
	font-size: 45px;
    display: table;
    width: 100%;
    height: 640px;
    table-layout: fixed;
}

.messageWindow .text {
	padding-top: 0px;
    padding-left: 80px;
    padding-right: 80px;
    display: table-cell;
    vertical-align: middle;
    word-wrap: break-word;
}

.messageWindow .messageWindowButton {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 28pt;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    line-height: 100px;
	text-shadow: 0px 2px 0px rgb(255, 242, 179), 0px -1px 1px rgba(30, 0, 0, 0.6);
}

.messageWindow .messageWindowButton:active {
    font-size: 30pt;
    line-height: 110px;
}

.messageWindow .buttons {
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
}

.messageWindow a {
    text-decoration: underline;
    color: #fff;
}

.messageWindowButton.enabled {
    opacity: 1;
    pointer-events: auto;
}

.messageWindowButton.disabled {
    opacity: .5;
    pointer-events: none;
}

.styled-select select {
   background: transparent;
   border: none;
   font-size: 38px;
   height: 60px;
   padding: 5px; /* If you add too much padding here, the options won't show in IE */
   width: 200px;
}

.styled-select {
   background: url(dropdown-icon.svg) no-repeat 96% 0;
   height: 64px;
   overflow: hidden;
   width:200px;
}

.rounded {
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
}

.slate   { background-color: #ddd; }
.green   { background-color: #779126; }
.blue    { background-color: #3b8ec2; }
.yellow  { background-color: #eec111; }
.black   { background-color: #000; }
.white	 { background-color: #FFF; }

#css_table 
{
    width: 100%;
    display: table;
}

body.portrait #css_table 
{
    width: 100%;
    display: table;
}

.css_tr 
{
	display: table-row;
}

.css_td
{
    padding: 10px;
	border: 1px solid #ffffff30;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.css_td_2
{
    width: 15%;
	padding: 10px;
	border: 1px solid #ffffff30;
	display: table-cell;
	text-align: center;
	vertical-align:middle;
}

.css_td_3
{
	padding: 10px;
	border: 1px solid #ffffff30;
	display: table-cell;
	text-align: left;
	vertical-align:middle;
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: #000;
    height: 100%;
    width: 100%;
    font-family: Verdana,Tahoma,Geneva,sans-serif,Microsoft JhengHei,Zawgyi-One;
    overflow: hidden;
}

canvas {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    position: fixed;
}

div#preloadedSpritesheet {
    z-index: -1;
    opacity: .01;
    position: absolute;
}

#preloadedSpritesheet div {
    position: absolute;
}

.scrollbg{
    width: 100%;
    height: 400%;
    background: #000;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .01;
}

.handgesture {
    position: fixed;
    left: 50%;
    margin-left: -84px;
    bottom: 42px;
    z-index: 1000;
}

.overlay {
    z-index: 900; 
    opacity: 0.75;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #000;
}

.clearFix {
    clear: both;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: default;
}

.heading {
    width: 100%;
    color: #FFF;
    background: rgba(255,255,255,.15);
    border-radius: 20px;
    padding: 10px 10px 10px 30px;
    margin-bottom: 10px;
    box-sizing: border-box;
    margin-top: 50px;
}

div.iFrame {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: rgba(0,0,0,.8);
    z-index: 1000000000000;
}

div.iFrame .close {
    top: 10px;
    right: 10px;
    position: absolute;
    cursor: pointer;
    background: rgba(0,0,0,.6);
    width: 43px;
    height: 43px;
    border-radius: 100%;
    color: #fff;
    border: 2px solid rgba(255,255,255,.5);
    transform: rotate(45deg);
    line-height: 36px;
    font-size: 50px;
}

body.mobile div.iFrame .close {
    right: 30px;
    top: 85px;
    transform-origin: top right;
    -webkit-transform-origin: top right;
    width: 86px;
    height: 86px;
    font-size: 100px;
    line-height: 70px;
}

body.portrait div.iFrame .close {
    right: 7px;
    top: 63px;
}

div.iFrame iframe {
    width: 100%;
    height: 100%;
    border: 0;
    background: #000;
    visibility: hidden;
}

.iFrame .wrapper {
    box-sizing: border-box;
    padding: 30px;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
}

.loadingTextWrapper {
    position: fixed;
    width: 100%;
    display: table;
    height: 100%;
    background-color: #000;
}

.loadingTextWrapper p {
    color: #fff;
    display: table-cell;
    vertical-align: middle;
}

body.mobile .iFrame .wrapper {
    padding: 0;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
}

body.cssScale div.iFrame iframe {
    transform: scale(0.5,.5);
    transform-origin: top left;
}

body.cssScale .iFrame .wrapper {
    height: 200%;
    width: 200%;
}

body.cssScale div.iFrame .close {
    width: 43px;
    height: 43px;
    font-size: 60px;
    line-height: 41px;
    top: 40px;
    right: 10px;
}

body.mobile .loadingTextWrapper {
    font-size: 40pt;
}

body.mobile.cssScale #popupCloseButton
,body.mobile.cssScale #settings
,body.mobile.cssScale .fullscreen
,body.mobile.cssScale .gameRulesContent
,body.mobile.cssScale .messageWindow
,#popupAutoSpinButton
,#popupExitSettingButton
{
    -webkit-transform: translateX(0) scale(0.5,.5);
    -webkit-transform-origin: top left;
}

body.mobile.cssScale .fullscreen {
    -webkit-transform-origin: bottom center;
}

body.mobile.cssScale #popupCloseButton {
    top: 20px;
    right: 20px;
    transform-origin: top right;
    -webkit-transform-origin: top right;
}

body.mobile.cssScale #popupAutoSpinButton {
    bottom: 120px;
	right: 20px;
    transform-origin: bottom right;
    -webkit-transform-origin: bottom right;
}

body.mobile.cssScale #popupExitSettingButton {
    bottom: 40px;
	right: 20px;
    transform-origin: bottom right;
    -webkit-transform-origin: bottom right;
}



body.mobile.cssScale #settings,body.mobile.cssScale .gameRulesContent {
    width: 200%;
}

body.mobile #settings input[type=tel] {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 40px;
    width: 200px;
    letter-spacing: -2px;
}

div.swiper-pagination {
    display: block;
    margin: 0 auto;
    width: 600px;
    pointer-events: auto;
}

#paytablePaylines .paytableDot {
    border-radius: 100%;
    background: #FFFFFF;
    width: 30px;
    height: 30px;
    display: inline-block;
}

#paytablePaylines .paytableDot.dotUnselected {
    opacity: .2;
}

#paytablePaylines .paytableDot.dotUnselected_0 {
    opacity: .0;
}

#paytablePaylines .paylineContainer {
    width: 180px;
    padding: 11px;
    display: inline-block;
    margin-top: 0px;
}

#paytablePaylines {
    width: 100%;
    /* height: 100%; */
    margin: 0 auto;
    padding-top: 0px;
    text-align: center;
}

body.portrait #paytablePaylines {
    /* height: 30%; */
    /* margin-left: 2%; */
}

#paytablePaylines p {
    color: rgba(255, 219, 57);
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
}

#paytable p.caption {
    position: absolute;
    bottom: 0;
    padding: 25px;
    font-size: 20px;
    box-sizing: border-box;
    right: 0;
}

.paylinesAll {
    width: 1030px;
    display: inline-block;
}

#popup {
    background-color: black;
    width: 1300px;
    border-radius: 30px;
    height: 625px;
    position: fixed;
    transform-origin: top left;
    -webkit-transform-origin: top left;
    z-index: 9999;
    padding-left: 50px;
    padding-right: 50px;
    /* left: 50%;
    margin-left: -325px; */
}

div.scrollable {
    overflow: auto;
    height: 100%;
    -webkit-overflow-scrolling: touch;
}

div.gameRulesContent {
    margin: 25px;
    font-size: 30px;
    color: #c6c6c6;
}

div.gameRulesContent h3 {
    color: #fff;
}

#popupCloseButton {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999999;
}

#popupAutoSpinButton {
    position: fixed;
    right: 200px;
    z-index: 9999999;
}

#popupExitSettingButton {
    position: fixed;
    right:45px;
    bottom:80px;
    z-index: 9999999;
}



div.swiper-pagination {
    position: relative;
    bottom: 150px;
    transition: none;
}

.swiper-pagination-bullet {
    width: 25px;
    height: 25px;
    display: inline-block;
    border-radius: 100%;
    background: #FFF;
    margin: 5px;
    opacity: .2;
    cursor: pointer;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-pagination-bullet-active {
    background: #FFF;
}

body.mobile #settings div.section {
    width: 100%;
}

body.mobile #popup {
    top: 50%;
    left: 50%;
    border-radius: 20px;
    padding-left: 0px;
    padding-right: 0px;
    width: auto;
}

body.mobile #popup.gameRulesPopup {
    width: 100%;
}

body.mobile #settings span.checkbox {
    line-height: 45px;
}

body.mobile div.checkbox_outer_container {
    width: 45%;
    margin-bottom: 1%;
}

body.mobile #settings {
    font-size: 35px;
    /* margin-bottom: 100px; */
    padding-top: 20px;
}

body.mobile #settings h2,body.mobile #settings input[type=number] {
    font-size: 35px;
}

body.mobile #settings input[type=number] {
    width: 70px;
}

body.mobile #settings .checkbox_background {
    width: 95px;
    height: 50px;
    border-radius: 30px;
}

body.mobile #settings .checkbox_switch {
    width: 30px;
    height: 30px;
    margin-top: 20px;
}

body.mobile #settings input[type=range] {
    width: 45%;
}

body.mobile .swiper-slide {
    -ms-transform: scale(0.95,.95);
    -webkit-transform: scale(0.95,.95);
    transform: scale(0.95,.95);
}

body.portrait.tablet #popup {
    height: auto;
}

body.portrait .symbolsWrapper {
    width: 1000px;
}

body.portrait #paytable {
    width: 1000px;
    height: 1000px;
    position: relative;
}

body.portrait div.twoColumns {
    padding-left: 0;
}

body.portrait .paytableSymbolContainer {
    margin-left: 0px;
}

body.portrait div#popup.gameRulesPopup {
    width: 100%;
    word-wrap: break-word;
}

body.portrait #settings .slider_container {
    text-align: left;
    margin-top: 0;
}

body.portrait #settings input[type=range] {
    width: 70%;
}

body.portrait div.checkbox_outer_container {
    word-break: break-word;
}

body.portrait #popupCloseButton {
    right: 20px;
    top: 20px;
}

body.portrait #popupAutoSpinButton {
    bottom: 80px;
	right: 10px;
}

body.portrait #popupExitSettingButton {
    bottom: 140px;
	right: 10px;
}


body.portrait div#portraitMenu {
    display: block;
}

#settings {
    font-size: 25px;
    padding: 0 20px;
    text-align: center;
}

#settings h1 {
    color: #00a60c;
    font-weight: 400;
}

#settings h2 {
    color: #FFD83B;
    width: 100%;
    border-radius: 20px;
    padding: 30px 10px 10px 40px;
    font-weight: bold;
    margin-bottom: 20px;
    box-sizing: border-box;
    font-size: 35px;
}

#settings .checkbox_container {
    position: relative;
    display: table-cell;
    cursor: pointer;
    padding-bottom: 10px;
    vertical-align: middle;
}

#settings .slider_container {
    text-align: right;
    width: 100%;
    margin-top: -50px;
    padding-bottom: 10px;
}

#settings .checkbox_container.selected div.checkbox_background {
	background: rgba(70, 149, 236);
}

#settings .checkbox_container.selected div.checkbox_switch {
    background: #FFF;
    margin-left: 50px;
}

#settings .checkbox_switch {
    width: 25px;
    height: 25px;
    border-radius: 20px;
    background: #FFF;
    position: absolute;
    margin-top: 17px;
    margin-left: 7px;
    box-shadow: 2px 2px 2px #888;
    transition: .2s;
}

#settings .checkbox_background {
    border-radius: 20px;
    background: gray;
    width: 85px;
    height: 40px;
    margin-top: 10px;
    transition: .15s;
}

#settings span.checkbox {
    color: #FFF;
    display: table-cell;
    margin-top: 9px;
    line-height: 40px;
    width: 700px;
    vertical-align: middle;
    padding-left: 20px;
}

#settings span.slider_label {
    color: #FFF;
    vertical-align: middle;
    display: inline-block;
    margin-top: 15px;
}

#settings div.section {
    font-size: 20px;
    display: flex;
    float: left;
    box-sizing: border-box;
    vertical-align: top;
    width: 100%;
    text-align: left;
    padding-left: 10%;
    padding-top: 35px;
}

#settings div.section .settingLeft{
    white-space: nowrap;
    width: 50%;
}

#settings div.section .settingRight{
    white-space: nowrap;
    width: 50%;
}

body.mobile #settings div.section .settingLeft{
    white-space: nowrap;
    font-size: 20px;
    width: 45%;
}

body.mobile #settings div.section .settingRight{
    white-space: nowrap;
    font-size: 20px;
    width: 50%;
}

#settings div.section:nth-child(n+3) {
    padding-top: 10px;
    float: right;
}

body.mobile #settings div.section:nth-child(n+3) {
    float: inherit;
}

body.mobile #settings div.section {
    display: flex;
    float: inherit;
}

body.portrait #settings div.section {
    display: block;
    width: 100%;
}

body.portrait #settings div.section .settingLeft{
    white-space: normal;
    width: 220%;
}

body.portrait #settings div.section .settingRight{
    white-space: normal;
    width: 220%;
}

body.pad #settings div.section .settingLeft{
    white-space: normal;
    font-size: 30px;
    width: 220%;
}

body.pad #settings div.section .settingRight{
    white-space: normal;
    font-size: 30px;
    width: 220%;
}

select{
    border-radius: 5px;
    border: none;
    padding: 5px 12px 5px 8px;
    margin: 0 5px 5px;
    width: 155px;
    font-family: Verdana,Tahoma,serif,Microsoft JhengHei,Zawgyi-One;
    color: #4e4e4e;
    font-size: 23px;
    text-align: left;
    -moz-appearance: textfield;
}

body.mobile #settings select{
    padding-left: 20px;
    padding-right: 20px;
    font-size: 26px;
    width: 155px;
    letter-spacing: -2px;
}

body.pad #settings select{
    padding-left: 20px;
    padding-right: 20px;
    font-size: 30px;
    width: 180px;
    letter-spacing: -2px;
}

input[type=tel] {
    border-radius: 5px;
    border: none;
    padding: 5px 12px 5px 8px;
    margin: 0 5px 5px;
    width: 200px;
    font-family: Verdana,Tahoma,serif,Microsoft JhengHei,Zawgyi-One;
    color: #4e4e4e;
    font-size: 25px;
    text-align: right;
    -moz-appearance: textfield;
}

input[type=tel]::-webkit-inner-spin-button,input[type=tel]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#settings input[type=range] {
    width: 40%;
    vertical-align: middle;
    margin-top: -50px;
    margin-left: 10px;
    margin-right: 10px;
}

#settings.clear {
    clear: both;
}

div.sliderImg {
    display: inline-block;
}

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    background: gray;
}

/* input[type=range]:focus {
    outline: 0;
} */

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 30px;
    width: 40px;
    border-radius: 5px;
    background: #fff;
    cursor: pointer;
    /* margin-top: -20px; */
}

input[type=range]::-webkit-slider-runnable-track {
    /* width: 100%;
    height: 4px; */
    cursor: pointer;
    /* background: #666; */
}

input[type=range]::-moz-range-thumb {
    /* -webkit-appearance: none;
    height: 45px;
    width: 45px;
    border-radius: 36px;
    background: #fff; */
    cursor: pointer;
    /* margin-top: -20px; */
}

input[type=range]::-moz-range-track {
    /* width: 100%;
    height: 4px;
    background: #666;
    outline: 0; */
}

/* input[type=range]::-moz-focus-outer {
    border: 0;
} */

input[type=range]::-ms-thumb {
    /* height: 35px;
    width: 35px;
    border-radius: 50%;
    background: #fff; */
    cursor: pointer;
    /* padding: 0;
    margin-top: 0; */
}

input[type=range]::-ms-track {
    /* width: 100%;
    height: 4px; */
    cursor: pointer;
    /* animate: .2s;
    background: 0 0;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
    margin-top: 20px; */
}

/* input[type=range]::-ms-fill-lower {
    background: #AAA;
}

input[type=range]::-ms-fill-upper {
    background: #333;
}

input[type=range]:focus::-ms-fill-lower {
    background: #AAA;
}

input[type=range]:focus::-ms-fill-upper {
    background: #333;
} */

p.settings-input {
    word-break: keep-all;
    margin: 0 0 0 7px;
    display: inline-block;
}

@media all and (orientation:landscape) {
    body.mobile #settings .slider_container {
        text-align: left;
        margin-top: 0;
    }

    body.mobile #settings input[type=range] {
        width: 70%;
    }

    body.mobile div.checkbox_outer_container {
        word-break: break-word;
    }
}

.noty_message {
	font-size: 3rem;
}


@media (max-width: 1366px) {
	.noty_message {
        font-size: 1.2rem;
    }
}

@media (max-width: 1024px) {
	.noty_message {
        font-size: 1.0rem;
    }
}

@media (max-width: 768px) {
    .noty_message {
        font-size: 1.0rem;
    }
}

@media (max-width: 400px) {
    .noty_message {
        font-size: 0.85rem;
    }
}

.logoImage {
    display: block;
    margin: 0 auto;
    position: relative;
}

#portraitMenu {
    display: none;
}

#portraitMenu .logoImage {
    margin-left: 60px;
}

div#portraitMenu {
    overflow: hidden;
    width: 0;
    transition: .5s;
    height: 100%;
    background: rgba(255,255,255,.2);
}

div#portraitMenu.expanded {
    width: 300px;
}

body.portrait div#portraitMenu {
    display: block;
}

#paytable {
    height: 625px;
    margin-left: 5%;
    width: 1180px;
    color: #e0e0e0;
}

.swiper-container-horizontal>.swiper-pagination {
    bottom: 20px;
}

body.mobile .swiper-container-horizontal>.swiper-pagination {
    bottom: 26px;
}

#paytable p.caption {
    top: 520px;
    color: #b9b9b9;
    font-size: 16px;
}

#paytableSymbols {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.paytableSymbolImageContainer {
    display: inline-block;
}

.paytableSymbolContainer {
    width: auto;
    font-size: 30px;
    /* padding: 10px 20px paytableRewardNumber10px; */
    /* text-align: left; */
}

.paytableSymbolContainer_s {
    display: inline-block;
    color: #ffb400;
    font-size: 55px;
    width: 210px;
    padding: 30px 10px 10px;
    text-align: left;
}

.paytableSymbolContainer_a {
    display: inline-block;
    color: #ffb400;
    font-size: 32px;
    padding: 10px 20px 10px;
    text-align: left;
}

.paytableRewardCoinsContainer {
    display: inline-block;
    font-weight: 700;
    vertical-align: top;
    padding-top: 0px;
    padding-left: 0px;
    -webkit-font-smoothing: antialiased;
    margin-left: 0px;
    margin-top: 0px;
}

.paytableRewardContainer {
    display: inline-block;
    vertical-align: top;
    padding-top: 0px;
    text-align: center;
    font-size: 28px;
}

.paytableRewardContainer .title{
    font-size: 33px;
    font-weight: bold;
}

body.mobile .paytableRewardContainer {
    width: 80%;
    font-size: 26px;
}

body.mobile .paytableRewardContainer .title{
    font-size: 30px;
}

body.portrait .paytableRewardContainer {
    width: 90%;
    margin-right: 6%;
    margin-left: 6%;
    margin-bottom: 5%;
    font-size: 30px;
}

body.portrait .paytableRewardContainer .title{
    font-size: 35px;
}

body.pad .paytableRewardContainer {
    font-size: 25px;
}

body.pad .paytableRewardContainer .title{
    font-size: 30px;
}

body.mobile .paytableRewardContainer .content{
    /* margin-top: 5%; */
}

body.portrait .paytableRewardContainer .content{
    /* margin-top: 30%; */
}

body.portrait .paylinesContainer{
    /* margin-top: 30%; */
}

.paytableRewardCoins {
    display: inline-block;
    position: relative;
    padding-left: 10px;
    color: #ffffff;
    font-size: 50px;
    -webkit-background-clip: text;
    -webkit-text-stroke: 3px transparent;
    -webkit-font-smoothing: antialiased;
}

.paytableRewardCoins::before {
    content: attr(rel);
    top: 0;
    left: 0;
	color: #703200;
    position: absolute;
    padding-left: 12px;
    width: 180px;
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#703200),color-stop(100%,#703200)) 1px 1px;
    -webkit-background-clip: text;
    -webkit-text-stroke: 5px transparent;
    z-index: -1;
}

.paytableRewardNumber {
    display: inline-block;
    color: #feb201;
    font-size: 50px;
    font-weight: 700;
    padding-left: 20px;
    vertical-align: middle;
}

body.portrait .paytableRewardNumber {
    font-size: 45px;
}

.paytableRewardNumber_0 {
    display: inline-block;
    color: rgba(255, 219, 57);
    font-size: 36px;
    font-weight: 700;
    padding-right: 0px;
    vertical-align: middle;
}

#paytableSymbols.highPay .paytableSymbolContainer {
    font-size: 40px;
    width: 450px;
    padding: 10px 0 0 80px;
}

#paytableSymbols.highPay .paytableRewardNumber {
    font-size: 40px;
}

#paytableSymbols.highPay .paytableRewardCoins::before {
    -webkit-text-stroke: 6px transparent;
}

#paytableWilds {
    text-align: center;
}

#paytableWilds .wildSymbol {
    display: inline-block;
    width: 270px;
}

#paytableWilds .wildSymbolImage {
    margin: 0 auto;
}

#paytable h1 {
    display: inline-block;
    position: relative;
    color: #feb201;
    -webkit-background-clip: text;
    -webkit-text-stroke: 3px transparent;
    -webkit-font-smoothing: antialiased;
}

#paytable h1::before {
    content: attr(rel);
    top: 0;
    left: 0;
    color: #703200;
    position: absolute;
    width: 100%;
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#703200),color-stop(100%,#703200)) 1px 1px;
    -webkit-background-clip: text;
    -webkit-text-stroke: 6px transparent;
    z-index: -1;
}

#paytableWilds .wildsDescription {
    text-align: left;
    padding: 0 60px;
    font-size: 20px;
}

#paytable .columnDescriptionWrapper {
    vertical-align: middle;
    text-align: center;
    padding: 20px;
    width: 570px;
    display: table-cell;
}

#paytable .columnDescriptionWrapper p {
    text-align: left;
}

#paytable .freeSpinsImagesContainer {
    width: 570px;
    height: 595px;
    float: left;
}

#paytable .freeSpinsReward div,#paytable .freeSpinsReward h1,#paytable .freeSpinsReward p {
    display: inline-block;
    vertical-align: middle;
}

#paytable .freeSpinsReward {
    margin-top: -10px;
    margin-bottom: -40px;
    margin-left: 200px;
}

#paytable .bigImage {
    float: left;
    margin-top: 200px;
}

#paytable .freeSpinsRewardsContainer {
    margin-top: 200px;
}

#paytableFreeSpins .freeSpinsImagesContainer {
    width: 520px;
}

#paytable h1.columnTitle {
    margin: 0;
}

div.gameRulesContent {
    color: #f7f7f7;
    text-shadow: 1px 1px 1px #000;
}

.scrollable {
    margin-top: 0px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-track {
    background: 0 0;
    border-radius: 10px;
    -webkit-box-shadow: inset 1px 0 6px rgba(0,0,0,.5);
}

::-webkit-scrollbar-track-piece:end {
    background: rgba(0,0,0,.11);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 10px;
    border: 0px solid transparent;
    background-clip: content-box;
}

div.scrollable:hover::-webkit-scrollbar-thumb {
    background: linear-gradient(-225deg, rgba(255, 219, 57, 0.5) 0%, rgba(255, 83, 56, 0.5) 100%);
    border-radius: 10px;
    border: 0px solid transparent;
}

div.scrollable:hover::-webkit-scrollbar-track-piece:end {
    background: rgba(0,0,0,.2);
}

div.scrollable:hover::-webkit-scrollbar-track {
    background: rgba(0,0,0,.05);
}

::-webkit-scrollbar-corner {
    display: none;
}

::-webkit-resizer {
    display: none;
}

body.mobile #paytable .freeSpinsRewardsContainer {
    font-size: 20px;
}

body.mobile .paytableRewardCoins,body.tablet .paytableRewardCoins {
    background: 0 0;
    color: #FFFFFF;
}

body.portrait .paytableRewardCoins {
    font-size: 45px;
}

body.mobile .paytableRewardCoins::after,body.mobile .paytableRewardCoins::before,body.tablet .paytableRewardCoins::after,body.tablet .paytableRewardCoins::before {
    display: none;
}

body.mobile #paytable {
    margin-left: 0;
}

body.portrait #paytable {
    width: 1000px;
    height: 1150px;
}

body.portrait #paytable .bigImage {
    float: none;
    margin: 0 auto;
}

body.portrait #paytableFreeSpins {
    display: block;
}

body.portrait #paytableFreeSpins .freeSpinsImagesContainer {
    width: 100%;
    height: 500px;
    float: none;
}

body.portrait #paytable .freeSpinsReward {
    display: block;
    margin: -20px auto -50px;
    width: 400px;
    padding-left: 120px;
}

body.portrait #paytableWilds .wildSymbol {
    width: 370px;
}

body.portrait #paytableSymbols.highPay .paytableSymbolContainer {
    padding-top: 30px;
}

body.portrait #paytablePaylines .paytableDot {
    width: 28px;
    height: 28px;
}

body.portrait #paytablePaylines .paylineContainer {
    width: 180px;
    padding: 30px 20px 20px;
}

body.portrait .paylinesAll {
    width: 1000px;
}

#settings {
    font-size: 24px;
    padding: 0 5px;
}

#settings input[type=range] {
    width: 35%;
}


.swiper-slide,.swiper-wrapper {
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    width: 100%;
}

.swiper-pagination,.swiper-wrapper {
    -webkit-transform: translate3d(0,0,0);
}

.swiper-container {
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.swiper-container-vertical>.swiper-wrapper {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.swiper-wrapper {
    z-index: 1;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    -ms-transition-property: -ms-transform;
    transition-property: transform;
    -moz-transform: translate3d(0,0,0);
    -o-transform: translate(0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.swiper-slide,.swiper-wrapper {
    -ms-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
}

.swiper-container-multirow>.swiper-wrapper {
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -ms-fles-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.swiper-container-free-mode>.swiper-wrapper {
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -ms-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    margin: 0 auto;
}

.swiper-slide {
    -webkit-flex-shrink: 0;
    -ms-flex: 0 0 auto;
    flex-shrink: 0;
}

.swiper-wp8-horizontal {
    -ms-touch-action: pan-y;
    touch-action: pan-y;
}

.swiper-wp8-vertical {
    -ms-touch-action: pan-x;
    touch-action: pan-x;
}

.swiper-button-next,.swiper-button-prev {
    position: absolute;
    top: 50%;
    width: 27px;
    height: 44px;
    margin-top: -22px;
    z-index: 10;
    cursor: pointer;
    -moz-background-size: 27px 44px;
    -webkit-background-size: 27px 44px;
    background-size: 27px 44px;
    background-position: center;
    background-repeat: no-repeat;
}

.swiper-button-next.swiper-button-popd,.swiper-button-prev.swiper-button-disabled {
    opacity: .35;
    cursor: auto;
}

.swiper-button-prev,.swiper-container-rtl .swiper-button-next {
    left: 10px;
    right: auto;
}

.swiper-button-prev.swiper-button-black,.swiper-container-rtl .swiper-button-next.swiper-button-black {
 
}

.swiper-button-prev.swiper-button-white,.swiper-container-rtl .swiper-button-next.swiper-button-white {
   
}
.swiper-button-next,.swiper-container-rtl .swiper-button-prev {
    right: 10px;
    left: auto;
}

.swiper-button-next.swiper-button-black,.swiper-container-rtl .swiper-button-prev.swiper-button-black {
   
}

.swiper-button-next.swiper-button-white,.swiper-container-rtl .swiper-button-prev.swiper-button-white {
   
}

.swiper-pagination {
    position: absolute;
    text-align: center;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    z-index: 10;
}

.swiper-pagination.swiper-pagination-hidden {
    opacity: 0;
}

.swiper-pagination-bullet {
    width: 30px;
    height: 30px;
    display: inline-block;
    border-radius: 100%;
    background: #FFF;
    margin: 5px;
    opacity: .2;
    cursor: pointer;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
    cursor: pointer;
}

.swiper-pagination-white .swiper-pagination-bullet {
    background: #fff;
}

.swiper-pagination-bullet-active {
    opacity: 1;
}

.swiper-pagination-white .swiper-pagination-bullet-active {
    background: #fff;
}

.swiper-pagination-black .swiper-pagination-bullet-active {
    background: #000;
}

.swiper-container-vertical>.swiper-pagination {
    right: 10px;
    top: 50%;
    -webkit-transform: translate3d(0,-50%,0);
    -moz-transform: translate3d(0,-50%,0);
    -o-transform: translate(0,-50%);
    -ms-transform: translate3d(0,-50%,0);
    transform: translate3d(0,-50%,0);
}

.swiper-container-vertical>.swiper-pagination .swiper-pagination-bullet {
    margin: 5px 0;
    display: block;
}

.swiper-container-horizontal>.swiper-pagination {
    left: 0;
    width: 100%;
}

.swiper-container-horizontal>.swiper-pagination .swiper-pagination-bullet {
    margin: 0 5px;
}

.swiper-container-3d {
    -webkit-perspective: 1200px;
    -moz-perspective: 1200px;
    -o-perspective: 1200px;
    perspective: 1200px;
}

.swiper-container-3d .swiper-cube-shadow,.swiper-container-3d .swiper-slide,.swiper-container-3d .swiper-slide-shadow-bottom,.swiper-container-3d .swiper-slide-shadow-left,.swiper-container-3d .swiper-slide-shadow-right,.swiper-container-3d .swiper-slide-shadow-top,.swiper-container-3d .swiper-wrapper {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.swiper-container-3d .swiper-slide-shadow-bottom,.swiper-container-3d .swiper-slide-shadow-left,.swiper-container-3d .swiper-slide-shadow-right,.swiper-container-3d .swiper-slide-shadow-top {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 10;
}

.swiper-container-3d .swiper-slide-shadow-left {
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,0)));
    background-image: -webkit-linear-gradient(right,rgba(0,0,0,.5),rgba(0,0,0,0));
    background-image: -moz-linear-gradient(right,rgba(0,0,0,.5),rgba(0,0,0,0));
    background-image: -o-linear-gradient(right,rgba(0,0,0,.5),rgba(0,0,0,0));
    background-image: linear-gradient(to left,rgba(0,0,0,.5),rgba(0,0,0,0));
}

.swiper-container-3d .swiper-slide-shadow-right {
    background-image: -webkit-gradient(linear,right top,left top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,0)));
    background-image: -webkit-linear-gradient(left,rgba(0,0,0,.5),rgba(0,0,0,0));
    background-image: -moz-linear-gradient(left,rgba(0,0,0,.5),rgba(0,0,0,0));
    background-image: -o-linear-gradient(left,rgba(0,0,0,.5),rgba(0,0,0,0));
    background-image: linear-gradient(to right,rgba(0,0,0,.5),rgba(0,0,0,0));
}

.swiper-container-3d .swiper-slide-shadow-top {
    background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,.5)),to(rgba(0,0,0,0)));
    background-image: -webkit-linear-gradient(bottom,rgba(0,0,0,.5),rgba(0,0,0,0));
    background-image: -moz-linear-gradient(bottom,rgba(0,0,0,.5),rgba(0,0,0,0));
    background-image: -o-linear-gradient(bottom,rgba(0,0,0,.5),rgba(0,0,0,0));
    background-image: linear-gradient(to top,rgba(0,0,0,.5),rgba(0,0,0,0));
}

.swiper-container-3d .swiper-slide-shadow-bottom {
    background-image: -webkit-gradient(linear,left bottom,left top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,0)));
    background-image: -webkit-linear-gradient(top,rgba(0,0,0,.5),rgba(0,0,0,0));
    background-image: -moz-linear-gradient(top,rgba(0,0,0,.5),rgba(0,0,0,0));
    background-image: -o-linear-gradient(top,rgba(0,0,0,.5),rgba(0,0,0,0));
    background-image: linear-gradient(to bottom,rgba(0,0,0,.5),rgba(0,0,0,0));
}

.swiper-container-coverflow .swiper-wrapper {
    -ms-perspective: 1200px;
}

.swiper-container-fade.swiper-container-free-mode .swiper-slide {
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -ms-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.swiper-container-fade .swiper-slide {
    pointer-events: none;
}

.swiper-container-fade .swiper-slide-active {
    pointer-events: auto;
}

.swiper-container-cube {
    overflow: visible;
}

.swiper-container-cube .swiper-slide {
    pointer-events: none;
    visibility: hidden;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
}

.swiper-container-cube.swiper-container-rtl .swiper-slide {
    -webkit-transform-origin: 100% 0;
    -moz-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0;
}

.swiper-container-cube .swiper-slide-active,.swiper-container-cube .swiper-slide-next,.swiper-container-cube .swiper-slide-next+.swiper-slide,.swiper-container-cube .swiper-slide-prev {
    pointer-events: auto;
    visibility: visible;
}

.swiper-container-cube .swiper-cube-shadow {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .6;
    -webkit-filter: blur(50px);
    filter: blur(50px);
}

.swiper-container-cube.swiper-container-vertical .swiper-cube-shadow {
    z-index: 0;
}

.swiper-scrollbar {
    border-radius: 10px;
    position: relative;
    -ms-touch-action: none;
    background: rgba(0,0,0,.1);
}

.swiper-container-horizontal>.swiper-scrollbar {
    position: absolute;
    left: 1%;
    bottom: 3px;
    z-index: 50;
    height: 5px;
    width: 98%;
}

.swiper-container-vertical>.swiper-scrollbar {
    position: absolute;
    right: 3px;
    top: 1%;
    z-index: 50;
    width: 5px;
    height: 98%;
}

.swiper-scrollbar-drag {
    height: 100%;
    width: 100%;
    position: relative;
    background: rgba(0,0,0,.5);
    border-radius: 10px;
    left: 0;
    top: 0;
}

.swiper-scrollbar-cursor-drag {
    cursor: move;
}

.swiper-lazy-preloader {
    width: 42px;
    height: 42px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -21px;
    margin-top: -21px;
    z-index: 10;
    -webkit-transform-origin: 50%;
    -moz-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-animation: swiper-preloader-spin 1s step-end infinite;
    -moz-animation: swiper-preloader-spin 1s step-end infinite;
    animation: swiper-preloader-spin 1s step-end infinite;
}

.swiper-lazy-preloader:after {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    background-position: 50%;
    -webkit-background-size: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
}

.swiper-lazy-preloader-white:after {
}

.checkbox_outer_container {
    display: flex;
    width: 70%;
    margin-bottom: 40px;
}

#toolbar_button {
    position: fixed;
    right: 20px;
    top: 20px;
    cursor: pointer;
}

#autospin_start {
    position: fixed;
    left: 50%;
    bottom: 5%;
    margin-left: -177px;
    cursor: pointer;
}

.gameRulesPage {
    width: 95%;
    /* height: 80%; */
    display: block;
    text-align: left;
    word-wrap: break-word;
    font-size: 25px;
    /* padding-bottom: 20px; */
}

.gameRulesPage .title {
    margin-top: 4%;
    font-size: 30px;
    font-weight: bold;
}

body.mobile .gameRulesPage .title{
    margin-top: 0;
    font-size: 25px;
}

body.mobile .gameRulesPage {
    /* margin-top: -4%; */
    font-size: 21px;
}

body.portrait .gameRulesPage .title{
    font-size: 35px;
}

body.portrait .gameRulesPage {
    /* margin-top: 30%;
    margin-left: 2%; */
    /* height: 30%; */
    font-size: 30px;
    text-align: justify;
}

body.pad .gameRulesPage .title{
    font-size: 30px;
}

body.pad .gameRulesPage {
    font-size: 25px;
}

.popupPage {
    text-align: center;
}

body.portrait .popupPage {
    /* display: block; */
}

.payTable {
    flex-wrap: wrap;
    justify-content: center;
}

.paylineImageBox {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

body.mobile .paylineImageBox {
    margin-top: -1%;
}

body.portrait .paylineImageBox {
    width: 90%;
    flex-wrap: wrap;
    margin-left: 6%;
}

body.pad .paylineImageBox {
    margin-left: 0;
}

.paylineImage{
    margin-right: 2%;
}

body.mobile .symbolImage {
    /* margin-top: -10%; */
    margin-right: -2%;
    transform: scale(0.6);
}

body.mobile .symbolImage:nth-child(n+5) {
    margin-top: -8%;
}

body.portrait .symbolImage {
    margin-top: -3%;
    margin-right: 6%;
    margin-left: 6%;
    transform: scale(0.8);
}

body.pad .symbolImage {
    margin-top: -9%;
    transform: scale(0.6);
}

body.portrait .symbolImage:nth-child(n+5) {
    /* margin-right: 3%; */
    margin-top: 0%;
    /* margin-left: -1.4%; */
}

body.pad .symbolImage:nth-child(n+5) {
    margin-right: 0%;
    margin-left: -5%;
}

body.mobile .paylineImage {
    margin-right: -1%;
    transform: scale(0.7);
}

body.portrait .paylineImage {
    margin-right: 2%;
    transform: scale(0.7);
}

.multiImage {
    white-space: nowrap;
}

body.mobile .multiImage {
    white-space: nowrap;
    margin-top: -2%;
    margin-left: -9%;
    transform: scale(0.6);
}

body.mobile .multiImage1 {
    white-space: nowrap;
    margin-top: -17%;
    margin-left: -9%;
    transform: scale(0.6);
}

body.portrait .multiImage {
    margin-top: 2%;
    margin-left: -6%;
    transform: scale(1);
}

body.portrait .multiImage1 {
    margin-top: 2%;
    margin-left: -6%;
    transform: scale(1);
}

body.pad .multiImage {
    margin-top: -2%;
    transform: scale(0.7);
}

body.mobile .symbolZero {
    margin-top: -10%;
}

body.portrait .symbolZero {
    margin-top: -7%;
}

body.portrait .symbolZeroContent {
    /* margin-top: 30%; */
}

#but_close {
    cursor: pointer;
}

body.mobile #but_close {
    transform: scale(0.5);
}

body.mobile #totalBet_article {
    align-items: center;
    justify-content: center;
}

body.mobile .symbolZeroImage {

}

#totalBet {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* body.mobile #totalBet > div{
    transform: scale(0.8);
}

body.portrait #totalBet > div{
    transform: scale(1);
} */

#textInput {
    color: white;
    border: gray;
    background: gray;
    border-radius: 10px;
}

input:disabled {
    -webkit-text-fill-color: white;
    -webkit-opacity: 1;
}

#totalBetAdd {
    cursor: pointer;
}

#totalBetMinus {
    cursor: pointer;
}

#totalBetSure {
    cursor: pointer;
}

#last_button {
    position: fixed;
    bottom: 33%;
    left: -4.5%;
    cursor: pointer;
    transform: scale(0.5, 0.5);
    z-index: 99;
}

#next_button {
    position: fixed;
    bottom: 33%;
    right: -4.5%;
    cursor: pointer;
    transform: scale(0.5, 0.5);
    z-index: 99;
}

body.portrait #last_button {
    bottom: 40%;
}

body.portrait #next_button {
    bottom: 40%;
}