<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dot</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{26,26}</string>
                <key>textureRect</key>
                <string>{{83,498},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_CrazyCashDrop_0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1,367},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_CrazyCashDrop_0_finished</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{434,1},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_CrazyCashDrop_1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{222,100},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_CrazyCashDrop_1_finished</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{118,170},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_CrazyCashDrop_2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{105,252},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_CrazyCashDrop_2_finished</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{200,182},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_CrazyCashDrop_3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{187,264},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_CrazyCashDrop_3_finished</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{105,334},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_CrazyCashDrop_4</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{187,346},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_CrazyCashDrop_4_finished</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{83,416},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_CrazyCashDrop_5</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{165,428},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_CrazyCashDrop_5_finished</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{304,113},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_Tournament_0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{80,78}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1,449},{80,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_Tournament_0_finished</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{80,78}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{282,195},{80,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_Tournament_1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{80,78}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{269,275},{80,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_Tournament_1_finished</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{80,78}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{269,355},{80,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_Tournament_2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{80,78}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{247,435},{80,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_Tournament_2_finished</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{80,78}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{386,113},{80,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_Tournament_3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{80,78}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{364,195},{80,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_Tournament_3_finished</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{80,78}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{351,275},{80,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_Tournament_4</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{80,78}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{351,355},{80,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_Tournament_4_finished</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{80,78}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{329,435},{80,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_Tournament_5</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{80,78}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{446,195},{80,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_Tournament_5_finished</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{80,78}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{411,435},{80,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_jackpot_0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,68}</string>
                <key>spriteSourceSize</key>
                <string>{114,100}</string>
                <key>textureRect</key>
                <string>{{118,100},{102,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_jackpot_0_finished</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,68}</string>
                <key>spriteSourceSize</key>
                <string>{114,100}</string>
                <key>textureRect</key>
                <string>{{1,297},{102,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_jackpot_1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{102,78}</string>
                <key>spriteSourceSize</key>
                <string>{114,100}</string>
                <key>textureRect</key>
                <string>{{330,1},{102,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_jackpot_1_finished</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{102,78}</string>
                <key>spriteSourceSize</key>
                <string>{114,100}</string>
                <key>textureRect</key>
                <string>{{1,217},{102,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>in_game_menu</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,115}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{1,100},{115,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jackpot_grand</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,30}</string>
                <key>spriteSourceSize</key>
                <string>{94,30}</string>
                <key>textureRect</key>
                <string>{{330,81},{94,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jackpot_major</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,30}</string>
                <key>spriteSourceSize</key>
                <string>{94,30}</string>
                <key>textureRect</key>
                <string>{{433,275},{94,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jackpot_mini</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,30}</string>
                <key>spriteSourceSize</key>
                <string>{94,30}</string>
                <key>textureRect</key>
                <string>{{433,403},{88,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jackpot_minor</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,30}</string>
                <key>spriteSourceSize</key>
                <string>{94,30}</string>
                <key>textureRect</key>
                <string>{{433,371},{94,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>off</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,77}</string>
                <key>spriteSourceSize</key>
                <string>{54,77}</string>
                <key>textureRect</key>
                <string>{{465,275},{54,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>on</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,77}</string>
                <key>spriteSourceSize</key>
                <string>{54,77}</string>
                <key>textureRect</key>
                <string>{{466,83},{54,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>promotion_board</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{327,97}</string>
                <key>spriteSourceSize</key>
                <string>{327,97}</string>
                <key>textureRect</key>
                <string>{{1,1},{327,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Promotion.png</string>
            <key>size</key>
            <string>{528,528}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0a7713e789299bc058cf48ec20f5aba9:3c48f039f4ff75e2c352bf003d97eec0:c90219ee620d070c8cfe9eaae8459a72$</string>
            <key>textureFileName</key>
            <string>Promotion.png</string>
        </dict>
    </dict>
</plist>
